kind: Ingress
apiVersion: networking.k8s.io/v1
metadata:
  name: ingress
  namespace: kube-micro
spec:
  rules:
    - http:
        paths:
          - path: /auth
            pathType: Prefix
            backend:
              service:
                name: auth-service
                port:
                  number: 80
          - path: /products
            pathType: Prefix
            backend:
              service:
                name: product-service
                port:
                  number: 80
